---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
interface Props {
  company: string;
  location: string;
  img: ImageMetadata;
  link: string;
  id?: string;
}

const { company, location, img, link, id } =
  Astro.props;
---

<div class="experiences" id={id}>
  <div class="logo">
    <a href={link} target="_blank">
      <Image src={img} alt={company} width={150} />
    </a>
  </div>
  <div class="job">
    <h2>{company} ({location})</h2>
    <slot />
  </div>
</div>

<style>
  h2,
  h3,
  h4 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  .experiences {
    display: flex;
    flex-wrap: wrap;
  }

  .logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 2rem;

    a {
      position: sticky;
      top: calc(2 * var(--header-height));
    }
  }

  .job {
    flex: 1 1 0;
  }
</style>
