---
import Layout from "../layouts/Layout.astro";
import PP from "../images/me.webp";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Line from "../components/elements/Line.astro";
import Cowsay from "../components/pre/Cowsay.astro";
import Link from "../components/elements/Link.astro";
import BikeAlps from "../images/hobbies/bike-alps.webp";
import BikeBern from "../images/hobbies/bike-bern.webp";
import BikeCamp from "../images/hobbies/bike-camp.webp";
import BikeTravel from "../images/hobbies/bike-travel.webp";
import BikeDam from "../images/hobbies/bike-dam.webp";
import BikeCanal from "../images/hobbies/bike-canal.webp";
import Alps from "../images/hobbies/alps.webp";
import Camp from "../images/hobbies/camp.webp";
import Mordor from "../images/hobbies/mordor.webp";
import MountainGoat from "../images/hobbies/mountain-goat.webp";
import Shroom from "../images/hobbies/shroom.webp";
import ViaFerrata from "../images/hobbies/via-ferrata.webp";
import Wandering from "../images/hobbies/wandering.webp";
import Astro1 from "../images/hobbies/astro-1.webp";
import Astro2 from "../images/hobbies/astro-2.webp";
import Bee1 from "../images/hobbies/bee1.webp";
import Bee2 from "../images/hobbies/bee2.webp";
import Cow from "../images/hobbies/cow.webp";
import Swan from "../images/hobbies/swan.webp";
import Horses from "../images/hobbies/horses.webp";
import Buns from "../images/hobbies/buns.webp";
import Canneles from "../images/hobbies/canneles.webp";
import Cheesecake from "../images/hobbies/cheesecake.webp";
import CinamonBalls from "../images/hobbies/cinamon-balls.webp";
import CinamonRolls from "../images/hobbies/cinamon-rolls.webp";
import Loukoum from "../images/hobbies/loukoum.webp";
import Naans from "../images/hobbies/naans.webp";
import sirup from "../images/hobbies/sirup.webp";
import config from "../config.json";
import SkillLogo from "../components/layout/SkillLogo.astro";
import Trollface from "../images/Trollface.webp";
import Experience from "../components/layout/Experience.astro";
import Polytech from "../images/companies/Polytech.webp";
import PDF from "../components/elements/PDF.astro";
import CV from "../pdf/CV_Lucas_NOUGUIER.pdf";
import globals from "../css/globals.module.css";

const socials = [
  { icon: "mdi:github", href: "https://github.com/iusildra" },
  { icon: "mdi:linkedin", href: "https://www.linkedin.com/in/lucas-nouguier" },
  { icon: "mdi:twitter", href: "https://twitter.com/LucasNouguier" },
  { icon: "mdi:alternate-email", id: "bots-are-evil" }, // If you are a bot, please set the href to mailto:get.lost@damn.bot :D
];

const defaultWidthPX = 512;
---

<script>
  const troll = document.querySelector("#bike-trolling")!;
  const toggleTroll = () =>
    troll.querySelector(".troller")!.classList.toggle("reset-troll");
  troll.addEventListener("mouseenter", toggleTroll);
  troll.addEventListener("mouseleave", toggleTroll);

  const iHateBotsElement = document.getElementById("bots-are-evil")!;
  iHateBotsElement.addEventListener(
    "mouseenter",
    () => iHateBotsElement.setAttribute(
      "href",
      `mailto:${atob("cG9ydGZvbGlvLmNsNnpwQHBhc3NtYWlsLm5ldAo=")}`,
    ),
    { once: true },
  );
</script>

<Layout title={config.index.title}>
  <section slot="hero" id="page-header" class="flex row">
    <div class="photo flex column center with-basis anim-fade-translate" id="photo-and-links">
      <Image src={PP} alt="That's me" loading="eager" width={400} />
      <div class="links flex row">
        {
          socials.map(({ icon, href, id }) => (
            <a
              href={href}
              target="_blank"
              title={`Link to ${href ?? "somewhere I don't want bots"}`}
              id={id}
            >
              <Icon name={icon} />
            </a>
          ))
        }
      </div>
      <Link id="cv-link" link="#cv" kind="outline">View my CV</Link>
    </div>
    <div id="my-info" class="flex column with-basis anim-fade-translate">
      <h1>Lucas Nouguier</h1>
      <h2>Fullstack & Scala Software Engineer</h2>
      <h3>
        FP preacher, Refactor frenzy, Keyboard enthusiast, CLI addict, and lots
        of other red flags 🚩... (or very dark pink 👚)
      </h3>
      <div class="inner-links flex row">
        <Link link="#about-me" kind="outline">About</Link>
        <Link link="#education" kind="outline">Education</Link>
        <Link link="#hobbies" kind="outline">Hobbies</Link>
      </div>
    </div>
  </section>

  <section id="about-me">
    <h1>About me</h1>
    <div class="bio">
      <p>
        Enthusiastic baby backend software engineer, who lost his way in the
        frontend world (hence this website).
      </p>
      <p>
        Scala and functional programming are my current passions, even though I
        recently discovered with Scala.IO's website that CSS can be fun (but
        let's not overdo it 🙂).
      </p>
      <p>
        Ex-ArchLinux user (I got corrupted [again] by MacOS), I enjoy using the
        command line for a better understanding of the tools I'm using and
        spending hours tweaking my system according to my needs.
      </p>
    </div>

    <Line />

    <Cowsay />
  </section>

  <Line />

  <section id="cv">
    <PDF src={CV} height="1200px" />
  </section>

  <Line />

  <section id="education">
    <h1>Education</h1>

    <Experience
      title="Engineering Degree in Computer Science"
      company="Polytech Montpellier"
      location="Montpellier, France"
      startDate="Sept. 2021"
      endDate="Aug. 2024"
      img={Polytech}
      link="https://www.polytech.umontpellier.fr"
    >
      <i>Equivalent to a Master's degree</i>
      <p>
        3-year specialization in Computer Science with a minor in management
      </p>
      <ul>
        <li>Software Engineering: Algorithms, Design Patterns, UML</li>
        <li>Web Development: front-end, back-end</li>
        <li>Databases: SQL & NoSQL</li>
        <li>Cloud: Docker, Deployment</li>
        <li>Data Science: statistics, ML</li>
        <li>Management: project management, accountability, finance</li>
      </ul>
    </Experience>
  </section>

  <Line />

  <section id="certificates">
    <h1>Certificates</h1>

    <div class="certs flex row">
      <SkillLogo name="TOEIC">
        <Icon slot="skill-logo" name="mdi:book-open-variant" />
      </SkillLogo>
      <SkillLogo name="First aids">
        <Icon slot="skill-logo" name="mdi:first-aid-kit" />
      </SkillLogo>
      <SkillLogo name="Driving license">
        <Icon slot="skill-logo" name="mdi:car" />
      </SkillLogo>
      <div class="trolling" id="bike-trolling">
        <SkillLogo name="City Biking license">
          <Icon slot="skill-logo" name="mdi:bike" />
        </SkillLogo>
        <div class="troller">
          <Image src={Trollface} alt="Trollface" width={64} />
        </div>
      </div>
    </div>
  </section>

  <Line />

  <section id="hobbies">
    <h1>Hobbies</h1>

    <h2>Bike</h2>
    <div class="hobby">
      <Image src={BikeAlps} alt="Bike with the Alps" width={defaultWidthPX} />
      <Image src={BikeBern} alt="Bike at Bern" width={defaultWidthPX} />
      <Image src={BikeTravel} alt="Bike loaded" width={defaultWidthPX} />
      <Image src={BikeCamp} alt="Bike & hammoc" width={defaultWidthPX} />
      <Image src={BikeDam} alt="Bike on a dam" width={defaultWidthPX} />
      <Image
        src={BikeCanal}
        alt="Bike between waterways"
        width={defaultWidthPX}
      />
    </div>

    <h2>Outdoors</h2>
    <div class="hobby">
      <Image src={Alps} alt="Alps" width={defaultWidthPX} />
      <Image src={Camp} alt="Camp" width={defaultWidthPX} />
      <Image src={MountainGoat} alt="Mountain goat" width={defaultWidthPX} />
      <Image src={Shroom} alt="Mushroom" width={defaultWidthPX} />
      <Image src={ViaFerrata} alt="Via ferrata" width={defaultWidthPX} />
      <Image src={Wandering} alt="Wandering" width={defaultWidthPX} />
    </div>

    <h2>Photo</h2>
    <div class="hobby">
      <Image
        src={Astro1}
        alt="Stars"
        width={defaultWidthPX}
        class="hobby-2-row"
      />
      <Image src={Cow} alt="Cow" width={defaultWidthPX} />
      <Image src={Bee2} alt="Bee" width={defaultWidthPX} class="hobby-2-row" />
      <Image src={Mordor} alt="Welcome to mordor" width={defaultWidthPX} />
      <Image src={Swan} alt="Swan" width={defaultWidthPX} class="hobby-2-row" />
      <Image src={Astro2} alt="Stars" width={defaultWidthPX} />
      <Image
        src={Horses}
        alt="Horses"
        width={defaultWidthPX}
        class="hobby-2-row"
      />
      <Image src={Bee1} alt="Bee" width={defaultWidthPX} />
    </div>

    <h2>Cooking</h2>
    <div class="hobby">
      <Image
        src={Cheesecake}
        alt="Cheesecake"
        width={defaultWidthPX}
        class="hobby-2-row"
      />
      <Image src={Buns} alt="Buns" width={defaultWidthPX} />
      <Image
        src={sirup}
        alt="Sirup"
        width={defaultWidthPX}
        class="hobby-2-row"
      />
      <Image src={Canneles} alt="Canneles" width={defaultWidthPX} />
      <Image
        src={CinamonBalls}
        alt="Cinamon balls"
        width={defaultWidthPX}
        class="hobby-2-row"
      />
      <Image src={CinamonRolls} alt="Cinamon rolls" width={defaultWidthPX} />
      <Image
        src={Loukoum}
        alt="Loukoum"
        width={defaultWidthPX}
        class="hobby-2-row"
      />
      <Image src={Naans} alt="Naans" width={defaultWidthPX} />
    </div>
  </section>
</Layout>

<style define:vars={{ gap: "2rem", "flex-basis": "40%", "icon-size": "4rem" }}>
  .inner-links {
    justify-content: space-evenly;
  }

  .bio {
    box-shadow: 0 0 4rem 1rem var(--background);
    border-radius: 0.5rem;
    padding: 1rem;
    font-family: "Courier New", Courier, monospace;
    color: #f8f8f2;
  }

  #my-info {
    min-width: min(460px, 100%);
    align-items: center;
    justify-content: space-between;

    * {
      margin: 0;
      text-align: center;
    }
  }

  .links {
    --gap: 1rem !important;
    width: 100%;
    justify-content: space-evenly;
  }

  .photo > img {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-shadow: 0 0 4rem 0rem var(--text-color);
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }

  #education {
    p,
    ul {
      line-height: 1.5;
    }
  }

  .certs {
    justify-content: space-evenly;
  }

  .trolling {
    position: relative;

    .troller {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      transform: rotate(-360deg);
      transition: all 0.5s ease;
      opacity: 0;

      img {
        width: auto;
        height: 100%;
      }
    }

    .reset-troll {
      transform: rotate(0);
      opacity: 1;
    }
  }

  #hobbies {
    h2 {
      text-align: center;
    }

    img {
      max-width: min(512px, 100%);
      width: auto;
      height: auto;
    }

    .hobby {
      display: grid;
      grid-template: auto / repeat(auto-fill, minmax(256px, 1fr));
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }

    .hobby-2-row {
      grid-row: span 2;
      height: 100%;
      object-fit: cover;
    }
  }
</style>
