---
import { Image } from "astro:assets";
import Line from "../components/Line.astro";
import Layout from "../layouts/Layout.astro";
import PortfolioThumb from "../images/thumbnails/Portfolio_large.webp";
import ScalaIOThumb from "../images/thumbnails/ScalaIO_large.webp";
import { Icon } from "astro-icon/components";
import type { ImageMetadata } from "astro";

interface Project {
  name: string;
  image: ImageMetadata;
  projectLink: string;
  githubLink?: string;
}

const projects: Project[] = [
  {
    name: "Scala.IO website",
    image: ScalaIOThumb,
    projectLink: "https://scala.io",
    githubLink: "https://github.com/ScalaIO/scala.io",
  },
];
---

<Layout title="Projects">
  <section slot="hero" id="page-header">
    <h1>Projects</h1>
  </section>

  <main>
    <section id="projects">
      {
        projects.reduce(
          (acc, project) => {
            acc.push(
              <Line />,
              <h1>
                <a href={project.githubLink} target="_blank">
                  {project.name}
                  <Icon name="mdi:link-variant" />
                </a>
              </h1>,
              <a href={project.projectLink} target="_blank">
                <Image src={project.image} alt={project.name} />
              </a>,
            );
            return acc;
          },
          [
            <>
              <h1>Portfolio</h1>
              <a href="/" target="_blank">
                <Image src={PortfolioThumb} alt="My Portfolio" />
              </a>
            </>,
          ],
        )
      }
    </section>
  </main>
</Layout>

<style>
  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    display: flex;
    transition: all 0.5s ease;
    color: var(--text-color);
    svg {
      margin-left: 0.5rem;
    }
  }

  img {
    max-width: min(512px, 100%);
    height: auto;
  }
</style>
