---
import { Icon } from "astro-icon/components";

const links = [
  { name: "Skills", href: `${import.meta.env.BASE_URL}/skills` },
  { name: "Experiences", href: `${import.meta.env.BASE_URL}/experiences` },
  { name: "Projects", href: `${import.meta.env.BASE_URL}/projects` },
  { name: "Engagement", href: `${import.meta.env.BASE_URL}/engagment` },
];
---

<script>
  const dropdown = document.getElementById("header-dropdown")!;
  const dropdownContent = dropdown.nextElementSibling!;

  function toggleDropdown() {
    dropdownContent.classList.toggle("show");
  }

  document
    .getElementById("header-dropdown")
    ?.addEventListener("click", toggleDropdown);
</script>

<header>
  <a href=`${import.meta.env.BASE_URL}`>
    <Icon name="mdi:home" />
  </a>
  <div class="links">
    {links.map((link) => <a href={link.href}>{link.name}</a>)}
  </div>
  <div class="dropdown">
    <button class="dropdown-button" id="header-dropdown">
      <Icon name="mdi:menu" />
    </button>
    <div class="dropdown-content">
      {links.map((link) => <a href={link.href}>{link.name}</a>)}
    </div>
  </div>

  <style>
    header {
      font-size: 1.5rem;
      padding: var(--padding);
      color: var(--text-color);
      background-color: var(--accent-dark);
      /* position: sticky; */
      /* top: 0px; */
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        font-size: 2rem;
      }

      a {
        color: var(--text-color);
        text-decoration: none;
      }
    }

    .links {
      gap: 1rem;
      display: none;

      a {
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: all 0.5s ease;
      }

      a:hover {
        background-color: var(--accent);
      }
    }

    .dropdown {
      display: block;
      position: relative;
      display: inline-block;
    }

    .dropdown-button {
      background-color: transparent;
      color: var(--text-color);
      border: none;
      cursor: pointer;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      right: 0px;
      background-color: white;
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      overflow: hidden;
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    /* Display dropdown on button click */
    .show {
      display: block;
    }

    @media screen and (min-width: 768px) {
      .links {
        display: flex;
      }
      .dropdown {
        display: none;
      }
    }
  </style>
</header>
