---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
interface Props {
  title: string;
  company: string;
  location: string;
  startDate: string;
  endDate: string;
  img: ImageMetadata;
  link: string;
  id?: string;
}

const { title, company, location, startDate, endDate, img, link, id } =
  Astro.props;
---

<div class="experience" id={id}>
  <div class="logo">
    <a href={link} target="_blank">
      <Image src={img} alt={company} width={150} />
    </a>
  </div>
  <div class="job">
    <h2>{title} <slot name="title-more" /></h2>
    <h3>{company}, {location}</h3>
    <h4>{startDate} - {endDate}</h4>
    <slot class="description" />
  </div>
</div>

<style>
  h2,
  h3,
  h4 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  .experience {
    display: flex;
    flex-wrap: wrap;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 2rem;
  }
  .job {
    flex: 1 1 0;
  }
</style>
