---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Favicon from "../images/favicon.svg";
import OpenGraph from "../images/opengraph.webp";
import config from "../config.json";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script>
  const header = document.querySelector("header")!; // Select your sticky header
  const headerHeight = header.offsetHeight * 2;

  document.querySelectorAll("a[href^='#']").forEach((anchor) => {
    anchor.addEventListener("click", (e) => {
      e.preventDefault();
      const targetId = anchor.getAttribute("href")!.substring(1);
      const targetElement = document.getElementById(targetId);

      if (targetElement) {
        const elementPosition =
          targetElement.getBoundingClientRect().top + window.scrollY;
        const offsetPosition = elementPosition - headerHeight;

        window.scrollTo({ top: offsetPosition });
      }
    });
  });
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="all" />
    <meta property="og:title" content={config.index.title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://iusildra.dev" />
    <meta
      property="og:image"
      content={`https://iusildra.dev${OpenGraph.src}`}
    />
    <meta
      property="og:description"
      content="Welcome to a visual hell.... I mean, my portfolio"
    />
    <link rel="icon" type="image/svg+xml" href={Favicon.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <section class="hero">
        <slot name="hero" />
      </section>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --tablet-width: 768px;
    --accent: #058c42;
    --accent-light: #16db65;
    --accent-dark: #04471c;
    --accent-very-dark: #0d2818;
    --background: #151515;
    --background-light: #3d3d3d;
    --text-color: #eee;
    --padding: 1rem;

    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2rem;
    }

    h1,
    h2,
    h3 {
      font-weight: 700;
    }

    #page-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    min-height: calc(100vh - 2rem - 10 * var(--padding));

    margin: auto;
    padding: 4rem;

    border-bottom: 4px solid var(--accent);
  }

  html {
    font-family: system-ui, sans-serif;
    color: var(--text-color);
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    background: linear-gradient(
      to left bottom,
      var(--background),
      var(--background-light),
      var(--background)
    );
  }

  main {
    margin: auto;
    padding: var(--padding);
    width: 1024px;
    max-width: calc(100% - 4rem);
    font-size: 1.5rem;
  }
  a {
    color: var(--accent);
    text-decoration: none;
    transition: all 0.5s ease;

    &:hover {
      color: var(--accent-light);
      transform: scale(1.1);
    }
  }
</style>
